#map {
    width: 100%; 
    height: 700px; 
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #253b60;
    font-family: Arial, sans-serif;
    color: #ffffff;
    line-height: 1.6;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.logo {
    width: 100px; 
    height: auto; 
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color:#ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.dllink {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color:#ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
